body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    color: #333;
    background: #ffe;
}

table, th, td {
    border: .08em solid black;
    }
    th, td {
            padding: 1em;
    }

hr {
    margin: 1.5em 20em 1.5em 20em;
}

p {
    margin: .5em 1em .5em 1em;
}

blockquote {
    margin: .75em 2em .5em 2em;
    font-size: 0.92em;
}

ol, ul, dl, li {
    margin: .75em 1.2em .5em 1.2em;
}

p {
    padding: 0;
    line-height: 140%;
}

h1,h2,h3,h4,h5 {
    font-weight: bold;
}

h1 {
    margin: 1.5em 1em 2em 1em;
    padding-top: .6em;
    padding-bottom: .6em;
    text-align: center;
    font-weight: 300;
    font-size: 2em;
    background-color: #339;
    color: #cfc;
}

h2 {
    font-size: 1.8em;
    margin: 1.5em 1.25em 1.25em 1.25em;
    color: #075;
    page-break-before: always;
}

h2.subhead {
    page-break-before: auto;
}

h3 {
    font-size: 1.6em;
    margin: 1.375em 1.4em 1.125em 1.4em;
    color: #633;
    font-weight: bold;
}

h4 {
    font-size: 1.4em;
    margin: 1.25em 1.6em .75em 1.6em;
    color: #339;
    font-weight: bold;
}

